<footer class="ftr">
    <div class="conteiner">
        <a href="./" class="ftr-link">
            <img src="../img/footer/ftr-1x.png" alt="logo" class="ftr-logo" srcset="../img/footer/ftr-2x.png 2x">
        </a>
        <ul class="ftr-list">
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Support</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Privacy Policy</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Terms and Conditions</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">© 2020 Enver, All Rights Reserved</a>
            </li>
        </ul>
    </div>
</footer>