<footer class="ftr">
    <div class="conteiner">
        <a href="./" class="ftr-link">
            <img src="../img/head/LogoIcon1.png" alt="logo" class="ftr-logo" srcset="./img/head/LogoIcon1(1).png" width = "27px"
    height="27px">
            <span>Enver</span>
        </a>
        <ul class="ftr-list">
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Support</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Privacy Policy</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">Terms and Conditions</a>
            </li>
            <li class="ftr-list-item">
                <a href="#" class="ftr-list-link">© 2020 Enver, All Rights Reserved</a>
            </li>
        </ul>
    </div>
</footer>