
    <header class="head">
        <div class="conteiner">
        <nav>
            <div class="head-flex">
        <a href="./" class="head-logo">
            <img src="../img/head/LogoIcon1.png" alt="logo" srcset="../img/head/LogoIcon1(1).png 2x" width="115px" 
height="34px">
<span>Enver</span>
        </a>
       
            <button type="button" class="head-menu-open js-open-menu">
                <svg width="24" height="24">
                    <use href="./adv-icon/symbol-defs.svg#Sort"></use>
                </svg>
            </button>
            </div>
            <div class="head-menu js-menu-container">
            <button class="head-menu-close js-close-menu">
                <svg width="24" height="24">
                    <use href="./adv-icon/symbol-defs.svg#cross"></use>
                </svg>
            </button>
            <ul class="head-menu-list">
                <li class="head-menu-item">
                    <a href="" class="head-menu-link">Home</a>
                </li>
                <li class="head-menu-item">
                    <a href="" class="head-menu-link">Services</a>
                </li>
                <li class="head-menu-item">
                    <a href="" class="head-menu-link">Our Project</a>
                </li>
                <li class="head-menu-item">
                    <a href="" class="head-menu-link">About us</a>
                </li>
                <li class="head-menu-item">
                    <a href="" class="head-menu-link">Contact us</a>
                </li>
            </ul>

        </div>
        </nav>
        </div>
    </header>
