<section class="hero">
    <div class="conteiner">
        <h1 class="hero-title">Build Your Awesome Platform</h1>
        <p class="hero-text">Enver studio is a digital studio that offers several services such as UI/UX Design to developers, we will provide the
        best service for those of you who use our services.</p>
        <button type="button" class="hero-btn">Our Services</button>
        <img src="../img/hero/hero-1x.png" alt="hero" srcset="./img/hero/hero-2x.png 2x">
    </div>
</section>