<section class="portfolio">
    <div class="conteiner">
        <h2 class="portfolio-title">Our Awesome Portofolio</h2>
        <ul class="portfolio-list">
            <li class="portfolio-item">
                <img src="./img/portfolio/portfolio-1-1x.jpg" alt="portfolio" class="portfolio-item-img" srcset="./img/portfolio/portfolio-1-2x.jpg 2x">
            </li>
            <li class="portfolio-item">
                <img src="./img/portfolio/portfolio-2-1x.jpg" alt="portfolio" class="portfolio-item-img" srcset="./img/portfolio/portfolio-2-2x.jpg 2x">
            </li>
            <li class="portfolio-item">
                <img src="./img/portfolio/portfolio-3-1x.jpg" alt="portfolio" class="portfolio-item-img" srcset="./img/portfolio/portfolio-3-2x.jpg 2x">
            </li>
        </ul>
    </div>
</section>