<section class="service">
    <div class="conteiner">
        <h2 class="service-title">The Service We Provide For You</h2>
        <ul class="service-list">
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">Development</h3>
                <p class="service-list-text">Create a platform with the best and coolest quality from us.</p>
            </li>
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">UI/UX Designer</h3>
                <p class="service-list-text">We provide UI/UX Design services, and of course with the best quality</p>
            </li>
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">Graphik Designer</h3>
                <p class="service-list-text">We provide Graphic Design services, with the best designers</p>
            </li>
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">Motion Graphik</h3>
                <p class="service-list-text">Create a platform with the best and coolest quality from us.</p>
            </li>
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">Photography</h3>
                <p class="service-list-text">We provide Photography services, and of course with the best quality</p>
            </li>
            <li class="service-item">
                <use>
                    <svg class="service-item-svg"></svg>
                </use>
                <h3 class="service-list-title">Videography</h3>
                <p class="service-list-text">Create a platform with the best and coolest quality from us.</p>
            </li>
        </ul>
    </div>
</section>