.head {}


.head-logo img {
    width: 27px;
    height: 27px;
}

.head-logo{
    display: flex;
    align-items: center;
    gap: 4px;
}

.head-logo span{
    color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
}

.head-menu-open {
    width: 24px;
    height: 24px;
}

.head-menu {}

.is-hiden {}

.head-menu-close {
    width: 24px;
    height: 24px;
}

.head-menu-list {}

.head-menu-item {}

.head-menu-link {}